@page
@model ExamWebApp.Pages_Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].ReсipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].TimeToReadyMins)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReсipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToReadyMins)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
